@import '@styles/base.scss';

.products {
  position: relative;
  padding: 16px 0;

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }

  &__heading {
    font-family: $secondary-font-stack;
    font-weight: 600;
    font-size: 28px;
    line-height: 1.5;
    @media screen and (min-width: 360px) {
      font-size: 32px;
    }
  }

  &__quantity {
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    color: $secondary-grey;

    &_number {
      padding: 0 8px;
      font-weight: 600;
      color: $accent;
      background-color: $light-green;
      border-radius: 12px;
    }
  }

  &__filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 81px;
  }

  &__content {
    display: flex;
    gap: 32px;
    margin-bottom: 50px;
    @media screen and (min-width: 1024px) {
      align-items: flex-start;
    }
  }
}

.filter-button {
  @media screen and (min-width: 1024px) {
    display: none;
  }
}
