@import '@styles/shared.scss';

.count {
  position: relative;
  display: flex;
  align-items: center;
  width: 168px;
  height: 48px;
  padding: 15px 16px;
  background-color: $secondary-dark-white;
  border: 1px solid $primary-grey;
  border-radius: 12px;

  &__input {
    width: 24px;
    margin-right: 16px;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.36;
    color: $primary-grey;
    background-color: transparent;
    border: none;
    outline: none;

    &::placeholder {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.36;
      color: $primary-grey;
    }
  }

  &__control {
    margin-right: 16px;
  }

  &__button {
    @extend %button;
    padding: 0 4px;
    transition: background-color 250ms $timing-function;

    &:hover(:not(:disabled)) {
      background-color: $primary-grey;
    }
  }

  &__icon {
    width: 12px;
    height: 12px;
    stroke: currentColor;

    &_sup {
      transform: rotateX(180deg);
    }
  }

  &__dash {
    flex: 0 0 1px;
    width: 1px;
    height: 100%;
    margin-right: 16px;
    background-color: $primary-grey;
  }

  &__unit {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    font-family: $secondary-font-stack;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.5;
    color: $primary-dark;
    cursor: pointer;
  }

  &__unit-icon {
    width: 12px;
    height: 12px;
    stroke: currentColor;
  }

  &__dropdown {
    position: absolute;
    bottom: -16px;
    left: -16px;
    transform: translateY(100%);
    width: 100%;
    min-width: 74px;
    min-height: 40px;
    max-height: 320px;
    font-family: $primary-font-stack;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.36;
    background-color: $light-green;
    border: 1px solid $accent;
    border-radius: 12px;
    overflow: auto;
    cursor: pointer;
    z-index: 1;

    &::-webkit-scrollbar {
      width: 4px;
    }
    &::-webkit-scrollbar-track {
      background-color: $primary-grey;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $accent;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    padding: 10px 12px;
    &:not(:last-child) {
      border-bottom: 1px dashed $accent;
    }

    &:hover {
      color: $white;
      background-color: $accent;
      border-color: $white;
    }
  }

  &__error {
    position: absolute;
    bottom: -75%;
    left: 0;
    width: 160px;
    color: $red;
  }
}
