@import '@styles/shared.scss';

.count {
  position: relative;
  display: flex;
  align-items: center;
  gap: 16px;
  width: 154px;
  height: 48px;
  padding: 15px 16px;
  background-color: $secondary-dark-white;
  border: 1px solid $primary-grey;
  border-radius: 12px;

  &__input {
    width: 24px;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.36;
    color: $primary-grey;
    background-color: transparent;
    border: none;
    outline: none;

    &::placeholder {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.36;
      color: $primary-grey;
    }
  }

  &__button {
    @extend %button;
    padding: 0 4px;
    transition: background-color 250ms $timing-function;

    &:hover {
      background-color: $primary-grey;
    }
  }

  &__icon {
    width: 12px;
    height: 12px;
    stroke: currentColor;

    &_sup {
      transform: rotateX(180deg);
    }
  }

  &__dash {
    flex: 0 0 1px;
    width: 1px;
    height: 100%;
    background-color: $primary-grey;
  }

  &__unit {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    font-family: $secondary-font-stack;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.5;
    color: $primary-dark;
    cursor: pointer;

    &:hover .dropdown {
      display: block;
    }
  }

  &__unit-icon {
    width: 12px;
    height: 12px;
    stroke: currentColor;
  }

  &__error {
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 240px;
    color: $red;
  }
}
