@import '@styles/shared.scss';

.rating-list {
  display: flex;
  gap: 2px;

  &__icon {
    width: 20px;
    height: 20px;
    fill: currentColor;

    &_empty {
      fill: transparent;
      stroke: $grey;
    }
  }
}
