@import '@styles/shared.scss';

.order-confirm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  &__title {
    font-family: $secondary-font-stack;
    font-weight: 600;
    font-size: 28px;
    line-height: 1.5;
    text-align: center;
  }

  &__image {
    background-color: transparent;
  }

  &__link {
    @extend %primary-button;
    width: 240px;
  }

  &__description {
    width: 95%;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;

    @media screen and (min-width: 672px) {
      width: 75%;
    }
  }
}
