@import './placeholders';

%primary-button {
  @extend %button;
  width: 164px;
  height: 47px;
  color: $white;
  background-color: $accent;
  border: 2px solid $green;
  transition: transform 250ms $timing-function,
    box-shadow 250ms $timing-function;

  &:hover:not(:disabled) {
    box-shadow: 0px 8px 12px -4px rgba(50, 88, 130, 0.32);
    transform: translateY(-2px);
  }
}

%secondary-button {
  @extend %button;
  padding: 6.5px 12px;
  font-family: $secondary-font-stack;
  color: $primary-dark;
  background-color: $primary-dark-white;
  border: 1px solid transparent;
  transition: background-color 250ms $timing-function,
    border-color 250ms $timing-function;

  &:hover {
    background-color: transparent;
    border-color: $primary-dark;
  }
}
