$primary-dark: #151515;
$white: #ffffff;
$primary-light-white: #fefefe;
$secondary-light-white: #fdfdfd;
$primary-dark-white: #f5f5f5;
$secondary-dark-white: #f9f9f9;
$grey: #ebebeb;
$primary-grey: #d1d1d1;
$secondary-grey: #a9a9a9;
$tertiary-grey: rgba(21, 21, 21, 0.05);
$quaternary-grey: #575757;
$accent: #6a983c;
$green: #46760a;
$light-green: #f4f8ec;
$dark-green: #92c064;
$yellow: #fdbc15;
$orange: #e6704b;
$red: #c7522d;
