$primary-dark-text: #151515;
$white-text: #ffffff;
$white-background: #fefefe;
$white-background: #ffffff;
$primary-white-background: #f9f9f9;
$secondary-white-background: #f5f5f5;
$tertiary-white-background: #fdfdfd;
$primary-grey: #d1d1d1;
$secondary-grey: #a9a9a9;
$tertiary-grey: rgba(21, 21, 21, 0.05);
$quaternary-grey: #575757;
$accent: #6a983c;
$orange: #e6704b;
$green: #46760a;
$light-green: #f4f8ec;
$yellow: #fdbc15;
