@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500;600;700&display=swap');

$primary-font-stack: 'Open Sans', sans-serif;
$secondary-font-stack: 'Poppins', sans-serif;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
