.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 16px;

  @media screen and (min-width: 706px) {
    width: 666px;
    margin: 0 auto;
  }

  @media screen and (min-width: 1170px) {
    flex-direction: column;
    gap: 32px;
    width: 100%;
  }
}
