@import '@styles/shared.scss';

.header {
  &__contacts-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid $tertiary-grey;
  }

  &__main-nav {
    padding: 13px 0 24px;
    background-color: $secondary-light-white;
  }

  &__search-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    column-gap: 36px;
    row-gap: 10px;
    margin-bottom: 10px;
  }
}
