@import '@styles/shared.scss';

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.reset-button {
  @extend %button;
  width: 67px;
  margin-left: 112px;
  padding: 6px 12px;
  font-family: $secondary-font-stack;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.47;
  color: $secondary-grey;
  background-color: $white-background;
  border-radius: 12px;
}
