@import '@styles/shared.scss';

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 48px;
  @media screen and (max-width: 1023px) {
    position: fixed;
    bottom: -100%;
    right: 0;
    width: 320px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 48px 36px 24px;
    background-color: $white-background;
    transition: bottom 300ms $timing-function;
  }

  &--opened {
    bottom: 0;
    overflow-y: scroll;
  }
}

.reset-button {
  @extend %button;
  width: 67px;
  margin-left: 112px;
  padding: 6px 12px;
  font-family: $secondary-font-stack;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.47;
  color: $secondary-grey;
  background-color: $white-background;
  border-radius: 12px;
}

.close-button {
  position: absolute;
  top: 16px;
  right: 20px;
  width: 94px;

  @media screen and (min-width: 1024px) {
    display: none;
  }
}
