@import '@styles/shared.scss';

.product {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $white-background;
  border: 1px solid $primary-grey;
  border-radius: 12px;
  @media screen and (min-width: 425px) {
    width: 85%;
    max-width: 325px;
  }
  @media screen and (min-width: 768px) {
    width: 100%;
    max-width: 320px;
  }
  @media screen and (min-width: 1170px) {
    flex-direction: row;
    width: 100%;
    max-width: 100%;
  }

  &__thumb {
    width: 100%;
    height: 312px;
    background-color: grey;
    border-radius: 12px;
    overflow: hidden;
    @media screen and (min-width: 1170px) {
      width: 268px;
      height: 280px;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 16px;

    @media screen and (min-width: 1170px) {
      flex-direction: row;
      justify-content: space-between;
      gap: unset;
      width: calc(100% - 268px);
      padding: 32px;
    }
  }
}

.product-info {
  &__title {
    margin-bottom: 4px;
    font-family: $secondary-font-stack;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
  }

  &__description {
    margin-bottom: 8px;
    font-weight: 400;
    line-height: 1.33;
    color: $quaternary-grey;
  }

  &__rating {
    display: flex;
    margin-bottom: 25px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__item {
    display: grid;
    grid-template-columns: 106px 1fr;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.36;
    color: $secondary-grey;

    &--accent {
      color: $accent;
    }
  }
}

.rating-item {
  &__icon {
    width: 20px;
    height: 20px;
    fill: $yellow;
    stroke: $yellow;
  }
}

.product-order {
  display: flex;
  flex-direction: column;
  font-family: $secondary-font-stack;
  &__price {
    &--old {
      font-weight: 600;
      font-size: 18px;
      line-height: 1.5;
    }
    &--new {
      margin-bottom: 16px;
      font-weight: 600;
      font-size: 12px;
      line-height: 1.5;
      text-decoration-line: line-through;
      color: $secondary-grey;
    }
  }

  &__shipping {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.5;
    color: $secondary-grey;
  }

  &__delivery {
    margin-bottom: 26px;
    font-family: $primary-font-stack;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    color: $secondary-grey;
  }

  &__button {
    display: flex;
    flex-direction: column;
    gap: 12px;
    @media screen and (min-width: 1170px) {
      align-items: flex-end;
    }
  }
}

.primary-button {
  @extend %button;
  gap: 6px;
  width: 164px;
  height: 47px;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.47;
  color: $white-text;
  background-color: $accent;
  border: 2px solid $green;
  border-radius: 12px;

  &__icon {
    width: 16px;
    height: 16px;
    stroke: $white-background;
    transform: rotateZ(-90deg);
  }
}

.secondary-button {
  @extend %button;
  gap: 8px;
  width: 164px;
  height: 36px;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.47;
  background-color: $secondary-white-background;
  border-radius: 12px;

  &__icon {
    width: 16px;
    height: 16px;
    stroke: $primary-dark-text;
  }
}
