@import '@styles/shared.scss';

.product {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $white;
  border: 1px solid $primary-grey;
  border-radius: 12px;
  @media screen and (min-width: 425px) {
    width: 85%;
    max-width: 325px;
    margin: 0 auto;
  }
  @media screen and (min-width: 706px) {
    margin: 0;
  }
  @media screen and (min-width: 768px) {
    width: 100%;
    max-width: 320px;
  }
  @media screen and (min-width: 1170px) {
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 100%;
  }

  &__thumb {
    display: block;
    width: 100%;
    height: 312px;
    border-radius: 12px;
    overflow: hidden;
    @media screen and (min-width: 1170px) {
      width: 268px;
      height: 280px;
    }
  }

  &__link {
    font-family: $secondary-font-stack;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
    transition: text-decoration 250ms $timing-function;

    &:hover {
      text-decoration: underline;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 16px;

    @media screen and (min-width: 1170px) {
      flex-direction: row;
      justify-content: space-between;
      width: calc(100% - 268px);
      padding: 32px;
    }
  }
}

.product-info {
  &__main {
    margin-bottom: 25px;
  }

  &__title {
    margin-bottom: 4px;
  }

  &__description {
    margin-bottom: 8px;
    font-weight: 400;
    line-height: 1.33;
    color: $quaternary-grey;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__item {
    display: grid;
    grid-template-columns: 106px 1fr;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.36;
    color: $secondary-grey;
  }

  &__name {
    word-break: break-word;

    &_accent {
      color: $accent;
    }
  }
}

.product-order {
  display: flex;
  flex-direction: column;
  font-family: $secondary-font-stack;

  &__price {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 16px;
    &_price_old {
      font-size: 18px;
    }
    &_price_new {
      font-size: 12px;
      text-decoration-line: line-through;
      color: $secondary-grey;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    margin-bottom: 26px;
  }

  &__shipping {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.5;
    color: $secondary-grey;
  }

  &__delivery {
    font-family: $primary-font-stack;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    color: $secondary-grey;
  }

  &__button {
    display: flex;
    flex-direction: column;
    gap: 12px;
    @media screen and (min-width: 1170px) {
      align-items: flex-end;
    }
  }
}

.primary-button {
  &__icon {
    width: 16px;
    height: 16px;
    stroke: $white;
    transform: rotateZ(-90deg);
  }
}

.secondary-button {
  &__icon {
    width: 16px;
    height: 16px;
    stroke: $primary-dark;
  }
}
