@import '@styles/shared.scss';

.breadcrumbs {
  display: flex;
  gap: 8px;

  &__page {
    font-weight: 400;
    line-height: 1.33;
    color: $secondary-grey;

    &_active {
      color: $primary-dark;
    }
  }
}
