@import '@styles/shared.scss';

.sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 38px;
  padding: 0 16px;
  background-color: $secondary-dark-white;
  border: 1px solid $primary-grey;
  border-radius: 12px;
  @media screen and (min-width: 380px) {
    width: 240px;
  }

  &__title {
    flex-shrink: 0;
    width: 56px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.36;
  }

  &__line {
    width: 1px;
    height: 19px;
    background-color: $primary-grey;
  }

  &__options {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: 184px;
    height: 38px;
    font-family: $secondary-font-stack;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.5;
    cursor: pointer;

    &:hover .sort__icon {
      transform: rotate(180deg);
    }
  }

  &__icon {
    width: 12px;
    height: 12px;
    stroke: currentColor;
  }
}
