@import '@styles/shared.scss';

.sort {
  display: flex;
  justify-content: space-between;
  width: 240px;
  height: 38px;
  padding: 9.5px 16px;
  background-color: $primary-white-background;
  border: 1px solid $primary-grey;
  border-radius: 12px;

  &__title {
    flex-shrink: 0;
    width: 56px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.36;
  }

  &__line {
    width: 1px;
    height: 100%;
    background-color: $primary-grey;
  }

  &__options {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: 184px;
    font-family: $secondary-font-stack;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.5;
    cursor: pointer;

    &:hover .dropdown {
      display: block;
    }

    &:hover .sort__icon {
      transform: rotate(180deg);
    }
  }

  &__icon {
    width: 12px;
    height: 12px;
    stroke: currentColor;
  }
}
