@import '@styles/shared.scss';

.billing {
  width: 100%;
  &__info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 60px);
    gap: 32px;

    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(2, 319px);
      grid-template-rows: repeat(4, 60px);
    }
  }

  &__field {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }

  &__label {
    font-family: $secondary-font-stack;
    font-weight: 600;
    line-height: 1.5;
  }

  &__input {
    padding: 11px 16px 12px 21px;
    font-family: $primary-font-stack;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.36;
    color: $primary-dark;
    background-color: $secondary-dark-white;
    border: 1px solid $primary-grey;
    border-radius: 12px;
    outline: none;

    &:focus {
      border-color: $accent;
    }

    &::placeholder {
      font-family: $primary-font-stack;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.36;
      color: $secondary-grey;
    }

    &:disabled + .billing__label {
      color: $secondary-grey;
    }
  }
}

.select {
  &__menu-list {
    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-track {
      background-color: $light-green;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $accent;
    }
  }
  &__menu:hover .select__control {
    border: 1px solid $accent;
  }
}
