@import '@styles/base.scss';

.user-list {
  display: flex;
  align-items: center;
  gap: 16px;
  @media screen and (min-width: 768px) {
    gap: 32px;
  }

  &__item:last-child,
  &__item:first-child {
    position: relative;
  }
  &:nth-child(2) {
    position: relative;
  }

  &__link {
    @extend %button;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    padding: 8px;
    border-radius: 50%;
    transition: background-color 250ms $timing-function;

    &:hover:not(.active) {
      color: $white;
      background-color: $accent;
    }

    &.active {
      color: $accent;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
    stroke: currentColor;
    transition: color 250ms $timing-function;
  }
}

.cart {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 4px;
  width: 16px;
  height: 16px;
  font-family: $secondary-font-stack;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.5;
  color: $white;
  background-color: $orange;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
}
